@font-face {
  font-family: "Saiyan-Sans";
  src: url('./fonts/Saiyan-Sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Saiyan-Sans", Avenir, Helvetica, Arial, sans-serif;

  background-color: #e76a24;
  color: #01080a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}